<div class="pdp-modal-product-image hide">
  <div class="pdp-modal-product-image__content">
        <span class="close-modal-image">{% include 'icon-close-big' %}</span>
        <img src="" alt="">
    </div>
</div>