<link rel="stylesheet" href="{{ 'search-form-mob.css' | asset_url }}" type="text/css">

<div class="search-form-mob">

    <div class="search-form-mob__btn">
      {% include 'icon-funky-search' %}
      <span>search</span>
    </div>

</div>