{% comment %} 
shorts
swim shorts
trousers
yeti shirt
vest
stick
tee
crewneck
hoodie
{% endcomment %}

<table class="table-sizes table-sizes--inc" data-type="{{type}}">
    <tr>
        <th>
            <span>size</span>
        </th>
        <th>
            <span>(A)<br/>length</span>
        </th>
        <th>
            <span>(B)<br/>chest</span>
        </th>
        <th>
            <span>(C)sleeve<br/>lenght</span>
        </th>
        <th>
            <span>(D)</br>shoulder</span>
        </th>
    </tr>
    <tr>
        <td>
            <span class="size-def">S</span>
        </td>
        <td>
            <span type="shorts">13,8</span>
            <span type="swim shorts">13,97</span>
            <span type="trousers">13,8</span>
            <span type="yeti shirt">28,34</span>
            <span type="vest">25,59</span>
            <span type="stick">27,55</span>
            <span type="tee">27,55</span>
            <span type="crewneck">27,28</span>
            <span type="hoodie">27,28</span>
        </td>
        <td>
            <span type="shorts">9</span>
            <span type="swim shorts">3,93</span>
            <span type="trousers">27,55</span>
            <span type="yeti shirt">22,83</span>
            <span type="vest">21,65</span>
            <span type="stick">22</span>
            <span type="tee">23</span>
            <span type="crewneck">24,48</span>
            <span type="hoodie">24,48</span>
        </td>
        <td>
            <span type="shorts">14,47</span>
            <span type="swim shorts">13,8</span>
            <span type="trousers">14,76</span>
            <span type="yeti shirt">22,4</span>
            <span type="vest">16,9</span>
            <span type="stick">9,84</span>
            <span type="tee">7</span>
            <span type="crewneck">22</span>
            <span type="hoodie">22</span>
        </td>
        <td>
            <span type="shorts">11,8</span>
            <span type="swim shorts">11,8</span>
            <span type="trousers">7,87</span>
            <span type="yeti shirt">20,47</span>
            <span type="vest">-</span>
            <span type="stick">18,9</span>
            <span type="tee">7</span>
            <span type="crewneck">23,5</span>
            <span type="hoodie">23,5</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="size-def">M</span>
        </td>
        <td>
            <span type="shorts">14,17</span>
            <span type="swim shorts">14,47</span>
            <span type="trousers">14,17</span>
            <span type="yeti shirt">29,13</span>
            <span type="vest">26,37</span>
            <span type="stick">28,34</span>
            <span type="tee">28,34</span>
            <span type="crewneck">27,79</span>
            <span type="hoodie">27,79</span>
        </td>
        <td>
            <span type="shorts">9,25</span>
            <span type="swim shorts">4,72</span>
            <span type="trousers">27,95</span>
            <span type="yeti shirt">24</span>
            <span type="vest">22,44</span>
            <span type="stick">22,83</span>
            <span type="tee">23,6</span>
            <span type="crewneck">25</span>
            <span type="hoodie">25</span>
        </td>
        <td>
            <span type="shorts">14,76</span>
            <span type="swim shorts">14,17</span>
            <span type="trousers">15,15</span>
            <span type="yeti shirt">24,8</span>
            <span type="vest">17,51</span>
            <span type="stick">10,23</span>
            <span type="tee">7,48</span>
            <span type="crewneck">22,5</span>
            <span type="hoodie">22,5</span>
        </td>
        <td>
            <span type="shorts">12,2</span>
            <span type="swim shorts">12,6</span>
            <span type="trousers">8,26</span>
            <span type="yeti shirt">21,25</span>
            <span type="vest">-</span>
            <span type="stick">19,7</span>
            <span type="tee">7,48</span>
            <span type="crewneck">24,48</span>
            <span type="hoodie">24,48</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="size-def">L</span>
        </td>
        <td>
            <span type="shorts">14,56</span>
            <span type="swim shorts">14,76</span>
            <span type="trousers">14,56</span>
            <span type="yeti shirt">29,9</span>
            <span type="vest">27,16</span>
            <span type="stick">29,13</span>
            <span type="tee">29,13</span>
            <span type="crewneck">28,77</span>
            <span type="hoodie">28,77</span>
        </td>
        <td>
            <span type="shorts">9,45</span>
            <span type="swim shorts">5,5</span>
            <span type="trousers">28,34</span>
            <span type="yeti shirt">24,8</span>
            <span type="vest">23,22</span>
            <span type="stick">23,6</span>
            <span type="tee">24</span>
            <span type="crewneck">25,98</span>
            <span type="hoodie">25,98</span>
        </td>
        <td>
            <span type="shorts">15,15</span>
            <span type="swim shorts">14,56</span>
            <span type="trousers">15,55</span>
            <span type="yeti shirt">25,2</span>
            <span type="vest">18,11</span>
            <span type="stick">11</span>
            <span type="tee">7,87</span>
            <span type="crewneck">23</span>
            <span type="hoodie">23</span>
        </td>
        <td>
            <span type="shorts">12,6</span>
            <span type="swim shorts">13,38</span>
            <span type="trousers">8,66</span>
            <span type="yeti shirt">22</span>
            <span type="vest">-</span>
            <span type="stick">20,47</span>
            <span type="tee">7,87</span>
            <span type="crewneck">25,5</span>
            <span type="hoodie">25,5</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="size-def">XL</span>
        </td>
        <td>
            <span type="shorts">14,96</span>
            <span type="swim shorts">15,15</span>
            <span type="trousers">14,96</span>
            <span type="yeti shirt">30,7</span>
            <span type="vest">27,95</span>
            <span type="stick">29,9</span>
            <span type="tee">30,3</span>
            <span type="crewneck">29,8</span>
            <span type="hoodie">29,8</span>
        </td>
        <td>
            <span type="shorts">9,65</span>
            <span type="swim shorts">6,29</span>
            <span type="trousers">28,74</span>
            <span type="yeti shirt">25,59</span>
            <span type="vest">24</span>
            <span type="stick">24,4</span>
            <span type="tee">24,6</span>
            <span type="crewneck">26,8</span>
            <span type="hoodie">26,8</span>
        </td>
        <td>
            <span type="shorts">15,55</span>
            <span type="swim shorts">14,96</span>
            <span type="trousers">15,95</span>
            <span type="yeti shirt">25,6</span>
            <span type="vest">18,7</span>
            <span type="stick">11,8</span>
            <span type="tee">8</span>
            <span type="crewneck">23,5</span>
            <span type="hoodie">23,5</span>
        </td>
        <td>
            <span type="shorts">13</span>
            <span type="swim shorts">14,17</span>
            <span type="trousers">9</span>
            <span type="yeti shirt">22,8</span>
            <span type="vest">-</span>
            <span type="stick">21,25</span>
            <span type="tee">8</span>
            <span type="crewneck">26,5</span>
            <span type="hoodie">26,5</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="size-def">XXL</span>
        </td>
        <td>
            <span type="shorts">-</span>
            <span type="swim shorts">-</span>
            <span type="trousers">-</span>
            <span type="yeti shirt">-</span>
            <span type="vest">-</span>
            <span type="stick">-</span>
            <span type="tee">31,69</span>
            <span type="crewneck">30,78</span>
            <span type="hoodie">30,78</span>
        </td>
        <td>
            <span type="shorts">-</span>
            <span type="swim shorts">-</span>
            <span type="trousers">-</span>
            <span type="yeti shirt">-</span>
            <span type="vest">-</span>
            <span type="stick">-</span>
            <span type="tee">25,2</span>
            <span type="crewneck">27,5</span>
            <span type="hoodie">27,5</span>
        </td>
        <td>
            <span type="shorts">-</span>
            <span type="swim shorts">-</span>
            <span type="trousers">-</span>
            <span type="yeti shirt">-</span>
            <span type="vest">-</span>
            <span type="stick">-</span>
            <span type="tee">8,26</span>
            <span type="crewneck">24</span>
            <span type="hoodie">24</span>
        </td>
        <td>
            <span type="shorts">-</span>
            <span type="swim shorts">-</span>
            <span type="trousers">-</span>
            <span type="yeti shirt">-</span>
            <span type="vest">-</span>
            <span type="stick">-</span>
            <span type="tee">8,26</span>
            <span type="crewneck">27,5</span>
            <span type="hoodie">27,5</span>
        </td>
    </tr>
</table>