{% comment %} 
shorts
swim shorts
trousers
yeti shirt
vest
stick
tee
crewneck
hoodie
{% endcomment %}

<table class="table-sizes table-sizes--inc" data-type="{{type}}">
    <tr>
        <th>
            <span>size</span>
        </th>
        <th>
            <span>(A)<br/>length</span>
        </th>
        <th>
            <span>(B)<br/>chest</span>
        </th>
        <th>
            <span>(C)sleeve<br/>lenght</span>
        </th>
        <th>
            <span>(D)</br>shoulder</span>
        </th>
    </tr>
    <tr>
        <td>
            <span class="size-def">S</span>
        </td>
        <td>
            <span type="shorts">35</span>
            <span type="swim shorts">35,5</span>
            <span type="trousers">35</span>
            <span type="yeti shirt">72</span>
            <span type="vest">65</span>
            <span type="stick">70</span>
            <span type="tee">70</span>
            <span type="crewneck">69,3</span>
            <span type="hoodie">69,3</span>
        </td>
        <td>
            <span type="shorts">23</span>
            <span type="swim shorts">10</span>
            <span type="trousers">70</span>
            <span type="yeti shirt">58</span>
            <span type="vest">55</span>
            <span type="stick">56</span>
            <span type="tee">58,5</span>
            <span type="crewneck">62,2</span>
            <span type="hoodie">62,2</span>
        </td>
        <td>
            <span type="shorts">36,5</span>
            <span type="swim shorts">35</span>
            <span type="trousers">37,5</span>
            <span type="yeti shirt">62</span>
            <span type="vest">43</span>
            <span type="stick">25</span>
            <span type="tee">18</span>
            <span type="crewneck">55,9</span>
            <span type="hoodie">55,9</span>
        </td>
        <td>
            <span type="shorts">30</span>
            <span type="swim shorts">30</span>
            <span type="trousers">20</span>
            <span type="yeti shirt">52</span>
            <span type="vest">-</span>
            <span type="stick">48</span>
            <span type="tee">18</span>
            <span type="crewneck">59,7</span>
            <span type="hoodie">59,7</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="size-def">M</span>
        </td>
        <td>
            <span type="shorts">36</span>
            <span type="swim shorts">36,5</span>
            <span type="trousers">36</span>
            <span type="yeti shirt">74</span>
            <span type="vest">67</span>
            <span type="stick">72</span>
            <span type="tee">72</span>
            <span type="crewneck">70,6</span>
            <span type="hoodie">70,6</span>
        </td>
        <td>
            <span type="shorts">23,5</span>
            <span type="swim shorts">12</span>
            <span type="trousers">71</span>
            <span type="yeti shirt">61</span>
            <span type="vest">57</span>
            <span type="stick">58</span>
            <span type="tee">60</span>
            <span type="crewneck">63,5</span>
            <span type="hoodie">63,5</span>
        </td>
        <td>
            <span type="shorts">37,5</span>
            <span type="swim shorts">36</span>
            <span type="trousers">38,5</span>
            <span type="yeti shirt">63</span>
            <span type="vest">44,5</span>
            <span type="stick">26</span>
            <span type="tee">19</span>
            <span type="crewneck">57,2</span>
            <span type="hoodie">57,2</span>
        </td>
        <td>
            <span type="shorts">31</span>
            <span type="swim shorts">32</span>
            <span type="trousers">21</span>
            <span type="yeti shirt">54</span>
            <span type="vest">-</span>
            <span type="stick">50</span>
            <span type="tee">19</span>
            <span type="crewneck">62,2</span>
            <span type="hoodie">62,2</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="size-def">L</span>
        </td>
        <td>
            <span type="shorts">37</span>
            <span type="swim shorts">37,5</span>
            <span type="trousers">37</span>
            <span type="yeti shirt">76</span>
            <span type="vest">69</span>
            <span type="stick">74</span>
            <span type="tee">75</span>
            <span type="crewneck">73,1</span>
            <span type="hoodie">73,1</span>
        </td>
        <td>
            <span type="shorts">24</span>
            <span type="swim shorts">14</span>
            <span type="trousers">72</span>
            <span type="yeti shirt">63</span>
            <span type="vest">59</span>
            <span type="stick">60</span>
            <span type="tee">61</span>
            <span type="crewneck">66</span>
            <span type="hoodie">66</span>
        </td>
        <td>
            <span type="shorts">38,5</span>
            <span type="swim shorts">37</span>
            <span type="trousers">39,5</span>
            <span type="yeti shirt">64</span>
            <span type="vest">46</span>
            <span type="stick">28</span>
            <span type="tee">20,5</span>
            <span type="crewneck">59,7</span>
            <span type="hoodie">59,7</span>
        </td>
        <td>
            <span type="shorts">32</span>
            <span type="swim shorts">34</span>
            <span type="trousers">22</span>
            <span type="yeti shirt">56</span>
            <span type="vest">-</span>
            <span type="stick">52</span>
            <span type="tee">20</span>
            <span type="crewneck">64,8</span>
            <span type="hoodie">64,8</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="size-def">XL</span>
        </td>
        <td>
            <span type="shorts">38</span>
            <span type="swim shorts">38,5</span>
            <span type="trousers">38</span>
            <span type="yeti shirt">78</span>
            <span type="vest">71</span>
            <span type="stick">76</span>
            <span type="tee">78</span>
            <span type="crewneck">75,7</span>
            <span type="hoodie">75,7</span>
        </td>
        <td>
            <span type="shorts">24,5</span>
            <span type="swim shorts">16</span>
            <span type="trousers">73</span>
            <span type="yeti shirt">65</span>
            <span type="vest">61</span>
            <span type="stick">62</span>
            <span type="tee">62,5</span>
            <span type="crewneck">68,1</span>
            <span type="hoodie">68,1</span>
        </td>
        <td>
            <span type="shorts">39,5</span>
            <span type="swim shorts">38</span>
            <span type="trousers">40,5</span>
            <span type="yeti shirt">65</span>
            <span type="vest">47,5</span>
            <span type="stick">30</span>
            <span type="tee">20,5</span>
            <span type="crewneck">59,7</span>
            <span type="hoodie">59,7</span>
        </td>
        <td>
            <span type="shorts">33</span>
            <span type="swim shorts">36</span>
            <span type="trousers">23</span>
            <span type="yeti shirt">58</span>
            <span type="vest">-</span>
            <span type="stick">54</span>
            <span type="tee">20,5</span>
            <span type="crewneck">67,3</span>
            <span type="hoodie">67,3</span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="size-def">XXL</span>
        </td>
        <td>
            <span type="shorts">-</span>
            <span type="swim shorts">-</span>
            <span type="trousers">-</span>
            <span type="yeti shirt">-</span>
            <span type="vest">-</span>
            <span type="stick">-</span>
            <span type="tee">80,5</span>
            <span type="crewneck">78,2</span>
            <span type="hoodie">78,2</span>
        </td>
        <td>
            <span type="shorts">-</span>
            <span type="swim shorts">-</span>
            <span type="trousers">-</span>
            <span type="yeti shirt">-</span>
            <span type="vest">-</span>
            <span type="stick">-</span>
            <span type="tee">64</span>
            <span type="crewneck">69,9</span>
            <span type="hoodie">69,9</span>
        </td>
        <td>
            <span type="shorts">-</span>
            <span type="swim shorts">-</span>
            <span type="trousers">-</span>
            <span type="yeti shirt">-</span>
            <span type="vest">-</span>
            <span type="stick">-</span>
            <span type="tee">21</span>
            <span type="crewneck">61</span>
            <span type="hoodie">61</span>
        </td>
        <td>
            <span type="shorts">-</span>
            <span type="swim shorts">-</span>
            <span type="trousers">-</span>
            <span type="yeti shirt">-</span>
            <span type="vest">-</span>
            <span type="stick">-</span>
            <span type="tee">21</span>
            <span type="crewneck">69,9</span>
            <span type="hoodie">69,9</span>
        </td>
    </tr>
</table>