<div class="space" style="height: {{section.settings.space_px}}px"></div>

{% schema %}
  {
    "name": "Space",
    "settings": [
        {
            "type": "number",
            "id": "space_px",
            "label": "Space PX"
        }
    ],
    "presets": [
        {
            "name": "Space"
        }
    ]
  }
{% endschema %}
