<div class="section-youtube">
  <div class="boxed">
    <iframe width="100%" height="600" src="https://www.youtube.com/embed/{{section.settings.id_youtube}}"></iframe>
  </div>
</div>

{% if section.settings.iframe_mob_height %}
<style>
    @media screen and (max-width: 768px) {
      .section-custom-html iframe {
        height: {{section.settings.iframe_mob_height}}px;
      }
    }
</style>
{% endif %}

{% schema %}
  {
    "name": "Iframe Youtube",
    "settings": [
      {
        "type": "text",
        "id": "id_youtube",
        "label": "ID Youtube"
      },
      {
        "type": "number",
        "id": "iframe_mob_height",
        "label": "Mobile Iframe Height",
        "default": 300
      }
    ],
    "presets": [
      {
        "name": "Iframe Youtube"
      }
    ]
  }
{% endschema %}
