header.site-header.border-bottom.logo--left {
    position: fixed;
    top: 40px;
}
/* header.site-header.fixed {
    transform: translateY(-40px);
} */
header.collection-header {
    transition-duration: 0.3s;
}
header.collection-header.fixed {
    position: fixed;
    top: -60px;
    width: 100%;
    z-index: 10;
    transition-duration: 0.3s;
}
.page-container {
    margin-top: 250px;
}
.collection-description-parallax {
    position: fixed;
    top: 100px;
    width: 100%;
}
/* .template-collection--snowboards .collection-description-parallax {
    display: none;
} */
.filter-bar,
#Collection {
    background: #f5f5f5;
}
#shopify-section-collection-template {
    border-bottom: 2px solid #000;
}
.collection-description {
    text-transform: uppercase;
    max-width: 1440px;
    margin: 40px auto;
}
.collection-breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "HelveticaNeue";
    font-weight: 400;
}
.collection-breadcrumbs a {
    margin-right: 5px;
    display: block;
    text-decoration: none;
}
.collection-breadcrumbs h1 {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 8px;
    text-transform: lowercase;
}
.collection-product-count {
    display: block;
    margin-left: 8px;
}
.collection-list {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid;
    margin-top: -2px;
    background-color: #f5f5f5;
}
.template-collection footer {
    margin-top: -2px;
}

@media screen and (max-width: 768px) {
    span.products-single-card__content__price {
        margin-bottom: 5px;
    }
    .title-description {
        font-size: 16px;
        font-family: 'HelveticaNeue';
        font-weight: 400;
    }
    .collection-description {
        padding: 0;
        margin-bottom: 0;
    }
    .collection-description p {
        padding-left: 0 !important;
    }
}