.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}
input#ContactForm-name,
input#ContactForm-email,
input#ContactForm-subject,
textarea#ContactForm-message {
    width: calc(100% - 40px);
    margin-right: 10px;
    display: block;
    border: 1px solid;
    padding: 10px 20px;
    position: relative;
    outline-color: #000;
    background: #f5f5f5;
    outline: none;
}
input#ContactForm-name:focus,
input#ContactForm-email:focus,
input#ContactForm-subject:focus,
textarea#ContactForm-message:focus {
    background-color: #fff;
    border: 2px solid;
}
.form-input {
    margin-bottom: 40px;
}
.col-6:nth-child(odd) .form-input {
    margin-right: 20px;
    padding-right: 20px;
}
input.btn {
    margin: 40px 0;
    width: 100%;
    background: #000;
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    input#ContactForm-name,
    input#ContactForm-email,
    input#ContactForm-subject,
    textarea#ContactForm-message {
        width: 100%;
    }
    .col-4 .form-input,
    .col-6 .form-input,
    .col-12 .form-input,
    textarea {
        margin-right: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
    }
    input.btn {
        margin: 10px 0;
    }
    
}