.filter-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background: #f5f5f5;
    box-sizing: border-box;
}
.filter-bar.hidden {
    visibility: hidden;
    opacity: 0;
}
.filter-bar__breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "HelveticaNeue";
    font-weight: 400;
}
.filter-bar__breadcrumbs a.breadcrumb-home {
    margin-left: 0px;
}
.filter-bar__breadcrumbs a {
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    text-decoration: none;
}
.filter-bar__breadcrumbs a:hover {
    text-decoration: underline;
}
.filter-bar__breadcrumbs h1 {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 8px;
    text-transform: lowercase;
}
.filter-bar__breadcrumbs span {
    margin: 0 5px;
}
.filter-bar-product-count {
    display: block;
    margin-left: 8px;
}
.filter-bar__tags {
    display: flex;
    font-size: 16px;
    font-family: "HelveticaNeue-Medium";
    font-weight: 500;
}
.filter-bar__tags a {
    margin-right: 30px;
    border: 1px solid transparent;
    padding: 3px 10px;
    text-transform: lowercase;
}
.filter-bar__tags a span.span-link {
    text-transform: lowercase;
}
.filter-bar__tags a.selected:hover {
    color: #000;
}
.filter-bar__tags a.selected {
    background: var(--lightgreen);
}
.template-product .filter-bar__tags a {
    background: unset;
    text-decoration: unset;
}
.template-product .filter-bar__tags a:hover {
    background: var(--lightgreen);
    text-decoration: underline;
}
.filter-bar__mob-bar {
    display: none;
}
.filter-bar.filter-bar--outside {
    position: fixed;
    top: 99px;
    z-index: 15;
    border-top: none;
    padding-top: 0;
}
.filters-toolbar__item-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px;
}

.filters-toolbar-tags a {
    text-decoration: none;
    margin-right: 30px;
    border: 1px solid transparent;
    padding: 3px 10px;
}
.filters-toolbar-tags a.selected:hover {
    text-decoration: none;
    color: #000;
}
.filters-toolbar-tags a.selected {
    border: 1px solid #000;
}

@media screen and (max-width: 1200px) {
    .filter-bar__tags a {
        margin-right: 0px;
    }
    .filter-bar__tags .tag-single--last {
        margin-right: 30px;
    }
}
@media screen and (max-width: 768px) {

    .filter-bar.filter-bar--outside {
        top: 91px;
    }
    .filter-bar {
        position: relative;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        transition-duration: 0.3s;
        padding: 10px 0;
    }
    .filter-bar.open {
        height: unset;
        transition-duration: 0.3s;
    }
    .filter-bar .filter-bar__tags {
        display: none;
    }
    .filter-bar.open .filter-bar__tags {
        display: block;
    }
    .filter-bar__breadcrumbs {
        display: none;
    }
    .filter-bar__tags {
        display: flex;
        flex-direction: column;
    }
    a.tag-single,
    a.tag-all {
        margin-bottom: 10px;
    }
    a.tag-all span  {
        margin-left: 20px;
    }
    a.tag-single:hover,
    a.tag-all:hover {
        background-color: unset;
    }
    a.tag-single.selected,
    a.tag-all.selected {
        display: none;
    }
    .filter-bar__mob-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .filter-bar .tag-single,
    .filter-bar .tag-all {
        opacity: 0;
        z-index: -1;
    }
    .filter-bar.open .tag-single,
    .filter-bar.open .tag-all {
        opacity: 1;
        z-index: unset;
    }
    .filter-bar__mob-bar__action.no-action {
        pointer-events: none;
    }
    .filter-bar__mob-bar__action {
        font-family: "HelveticaNeue-Medium";
        font-weight: 500;
        cursor: pointer;
        margin-left: 20px;
    }
    .filter-bar__mob-bar__action,
    .filter-bar a {
        font-size: 16px;
    }
    .filter-bar__mob-bar__action .span-link,
    .filter-bar a .span-link{
        text-transform: lowercase;
    }
    .filter-bar__mob-bar__breadcrumbs {
        margin-left: 20px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 14px;
        display: flex;
        gap: 8px;    
    }
    .filter-bar__mob-bar__breadcrumbs a {
        font-size: 14px;
    }
    .collection-product-count {
        display: unset;
    }
    .filter-bar__mob-bar__curtag {
        font-family: "HelveticaNeue-Medium";
        font-weight: 500;
        margin-right: 20px;
    }
    .filter-bar__mob-bar__curtag .span-link {
        background-color: var(--lightgreen);
        text-decoration: underline;
    }
    .filter-bar__mob-bar.filter-bar__mob-bar--product {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .filter-bar__mob-bar.filter-bar__mob-bar--product .filter-bar__mob-bar__breadcrumbs {
        width: unset;
    } 
    a.tag-single-mob span.span-link {
        text-transform: uppercase;
        background: var(--lightgreen);
        text-decoration: underline;
    }
    a.tag-single span {
        margin-left: 20px;
    }
}