.section-paragraph {
    padding: 60px 0;
}
.section-paragraph__content .title-description p {
    font-family: "HelveticaNeue";
    font-weight: 400;
    padding: 0 0 25px 0;
    margin: 0;
}
a.section-paragraph__content__link:hover {
    background-color: unset;
    transition-duration: unset;
}
a.section-paragraph__content__link:hover span {
    background-color: var(--lightgreen);
}
a.section-paragraph__content__link {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.section-paragraph__content__link svg {
    margin-left: 8px;
}

@media screen and (max-width: 768px) {
    .section-paragraph {
        padding: 30px 0;
        text-align: left;
    }
    .title-description {
        font-size: 24px;
    }
}