.newsletter-modal {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 500px;
}
.newsletter-modal__content {
    background: #cfff7c;
    padding: 30px 25px;
    border: 2px solid #000;
}
.close-newsletter-modal {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 100;
    cursor: pointer;
}
.newsletter-modal__content h4 {
    font-size: 36px;
    margin: 0;
    line-height: 1;
}
.sup-title-newsletter {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: "HelveticaNeue-Medium";
}
.close-modal-newsletter {
    position: absolute;
    right: 40px;
    cursor: pointer;
}
.newsletter-text {
    margin: 20px 0 10px;
    text-align: left;
    width: 100%;
    display: block;
    font-size: 14px;
}
.newsletter-text-sub {
    margin: 10px 0 0 0;
    text-align: left;
    width: 100%;
    display: block;
    font-size: 12px;
}
.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-group.input-group--newsletter {
    display: flex;
    flex-direction: column;
}
.input-group.input-group--newsletter .form-input.privacy {
    margin: 5px 0 0;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.input-group.input-group--newsletter .form-input.privacy label {
    margin-left: 5px;
}
button.btn.newsletter__submit {
    width: 100%;
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 12px 0;
    border-radius: unset;
}
.newsletter-modal__content input#Contact--email {
    border: 2px solid #000;
}

.newsletter-modal__content input#Contact--email:focus {
    color: #000;
    background-color: #fff;
}
.newsletter-modal__content input#Contact--email:focus::placeholder,
.newsletter-modal__content input#Contact--email:focus::-webkit-input-placeholder,
.newsletter-modal__content input#Contact--email:focus:-moz-placeholder {
    color: var(--grey);
}
.newsletter-modal__content input#Contact--email::placeholder {
    color: var(--grey);
    opacity: 1; /* Firefox */
}
  
.newsletter-modal__content input#Contact--email:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--grey);
}
  
.newsletter-modal__content input#Contact--email::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--grey);
}

span.site_newsletter-error {
    color: var(--pink);
}
.newsletter-modal__content input#Contact-Newsletter-email {
    background: #f5f5f5;
    border: 1px solid #000;
    outline: unset !important;
}

@media screen and (max-width:991px) {
    .newsletter-modal {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    .input-group.input-group--newsletter {
        width: unset;
    }
    .newsletter-modal__content input#Contact-Newsletter-email {
        height: 24px;
    }
    .mobile-nav-wrapper__content .btn-open-newsletter {
        cursor: pointer;
    }
    .mobile-nav-wrapper__content .btn-open-newsletter span {
        border: 1px solid #000;
        padding: 4px 10px;
        display: block;
        width: fit-content;
        text-align: center;
        font-size: 14px;
        text-decoration: underline;
        color: #000;
        margin: 0 auto;
    }
}