.search-form-mob__btn {
    width: 160px;
    border: 2px solid #000;
    border-right: unset;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
}



@media screen and (max-width: 1024px) {
    .search-form-mob.open .search-form {
        display: block;
        z-index: 20;
        width: calc(100% - 45px);
        top: 10px;
        bottom: unset;
        position: absolute;
        left: 24px;
    }
    .search-form-mob.open .search-form .predictive-search-wrapper.predictive-search-wrapper--drawer.predictive-search-wrapper--visible {
        top: 50px !important;
        padding: 0;
        overflow: hidden;
        background: #f5f5f5;
    }
    .search-form-mob.open .search-form ul#predictive-search-results {
        max-height: 230px;
        overflow: auto;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .mobile-nav-btns__search {
        height: fit-content;
    }
}




/* .search-form-mob {
    margin: 4px 0;
}
.search-form-mob .search-form__input-wrapper {
    border: 2px solid #000;
    border-right: unset;
    width: 100%;
    height: 36px
}
.search-form-mob .search-form__input-wrapper input {
    background: transparent;
    padding: 9px 5px 9px 30px;
    border: none;
    height: 17px;
}
.search-form-mob button.search-bar__submit.search-form__submit {
    display: block;
}
.search-form-mob .search-bar__actions {
    left: -10px;
    right: unset;
    top: 10px;
}
.search-form-mob .search-bar__actions svg {
    width: 20px;
    height: 19px;
    display: block;
}
.search-form-mob form.search-bar__form {
    max-width: 175px;
}

@media screen and (max-width: 768px) {
    .search-form-mob form.search-bar__form {
        height: 40px;
    }
} */